.flexbox {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #DBCBAD;
}

.intrs {
    display: none;
    z-index: 1;
    right: -100%;
    position: absolute;
}

body {
    background-color: #DBCBAD;
    display: -webkit-box;
}

.flexbox div {}

.nav {
    background: #000;
    opacity: 10;
    text-align: center;
    height: 100%;
    width: 10%;
    transition: width 4s;
    -webkit-transition: width 2s;
}

.nav-show {
    width: 15%;
    height: 100%;
    background-color: #000;
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    display: none;
}

.nav-show img {
    padding-top: 1rem;
}

.nav-show li {
    font-family: SimSun;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 21px;
}

.nav img {
    /* width: 100% */
}

.nav li {
    font-family: SimSun;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 21px;
    transform: translateX()
}

.nav li:nth-child(even) {
    color: #414141
}

.content {
    flex: 18;
    display: flex;
    height: 100%;
}

.article {
    width: 50%;
    height: 100%;
}

.erection {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.erection img {
    height: 90%;
    /* width: 100%; */
}

.text p {
    text-indent: 2em;
    padding-top: 2rem;
    padding-left: 1rem;
    text-align: justify;
}

.li-title:first-letter {
    font-size: 20px;
}

.title {
    font-family: FZQKBYSJW--GB1-0;
    font-size: 36px;
    color: #000000;
    letter-spacing: 0;
    padding-left: 1rem;
}

.li-title {
    opacity: 0.8;
    font-family: TrajanPro3-Regular;
    font-size: 18px;
    color: #949494;
    letter-spacing: 0;
    line-height: 18px;
    padding-left: 1rem;
}

.straight {
    width: 80%;
    height: 1px;
    margin: 1rem auto;
    background: #3a3a3a;
    padding: 0 0.5rem
}

.circle {
    width: 200px;
    height: 200px;
    position: relative;
    top: 29%;
    left: -48%;
    margin: -100px 0 0 -100px;
    cursor: pointer;
}

.circle1,
.circle2,
.circle3,
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: white;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: #852525;
    line-height: 70px;
    color: #EAEAEA;
    font-size: 16px;
    /* font-family: ''; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.center:hover {
    background-color: #EAEAEA;
    color: #852525;
}

.circle1 {
    -webkit-animation: circle 3s linear infinite;
    animation: circle 3s linear infinite;
}

.circle2 {
    -webkit-animation: circle 3s linear 0.8s infinite;
    animation: circle 3s linear 0.8s infinite;
}

.circle3 {
    -webkit-animation: circle 3s linear 1.6s infinite;
    /* Safari and Chrome */
    animation: circle 3s linear 1.6s infinite;
}

@-webkit-keyframes circle {
    /* Safari and Chrome */
    from {
        opacity: 1;
        -webkit-transform: scale(0);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(3);
    }
}

@keyframes myfirst {
    from {
        background: red;
    }
    to {
        background: yellow;
    }
}

@-moz-keyframes myfirst
/* Firefox */

{
    from {
        background: red;
    }
    to {
        background: yellow;
    }
}

@-webkit-keyframes myfirst
/* Safari 和 Chrome */

{
    from {
        background: red;
    }
    to {
        background: yellow;
    }
}

@-o-keyframes myfirst
/* Opera */

{
    from {
        background: red;
        width: 100px;
    }
    to {
        background: yellow;
        width: 200px;
    }
}

.open {
    display: flex;
    flex-direction: column;
}

.open-text {
    height: 50%;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    line-height: 28px;
    text-indent: 2em;
    text-align: justify;
}

.open-text,
.open-img {
    width: 80%;
    overflow: hidden;
}

.preface-text>p {
    padding-bottom: 2rem;
}