body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../img/ice-bg.png) no-repeat;
    background-size: cover;
}


/*
*    背景相关样式    
*/

.context {
    box-sizing: border-box;
    /*为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制*/
    min-height: 100%;
    padding-bottom: 120px;
    overflow-x: hidden;
}

.header {
    min-height: 262px;
    margin-bottom: 50px;
}

.head-logo {
    position: absolute;
    top: 40px;
    left: 150px;
}

.head-baqi {
    position: absolute;
    top: 213px;
    right: 220px;
}

.head-title {
    font-family: STZhongsong;
    font-size: 30px;
    color: #333333;
    letter-spacing: 0;
    position: relative;
    left: 217px;
    top: 225px;
}

.head-title>img {
    margin-left: 12px;
}


/*

   页脚相关
 
*/

.footer {
    height: 120px;
    margin-top: -120px;
    width: 100%;
    background: #154985;
    position: relative;
}

.footer-left,
.footer-right {
    position: absolute;
    align-items: center;
}

.footer-left {
    bottom: 41px;
    left: 157px;
    color: white;
    display: flex;
    letter-spacing: 2.1px;
}

.footer-icon {
    height: 28px;
    width: 155px;
    border-style: solid;
    border-width: 0 1px 0 0;
    padding-right: 15px;
    border-color: #FFFFFF;
    margin-right: 17px;
}

p {
    margin: 0
}

.vertical>p,
.footer-right>p {
    opacity: 0.7;
    font-family: STZhongsong;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
}

.vertical>p {
    letter-spacing: 2.1px;
}

.footer-right {
    top: 40px;
    right: 157px;
    width: 571px
}


/* 正文样式 */

.main-body {
    width: 1004px;
    margin: 0 auto 90px;
    /* height: 1000px; */
    /* background: #333333; */
}

.main-text {
    font-family: "STZHONGS";
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 2em;
    line-height: 28px;
}

.img-box {
    background: #FFFFFF;
    box-shadow: 0 5px 10px 0 rgba(43, 95, 164, 0.10);
    height: 280px;
    width: 390px;
}

.img-box>p {
    padding: 19px 30px 20px;
    font-family: STZhongsong;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.08px;
}

.arrow {
    text-align: right;
}

.left-arrow,
.right-arrow {
    width: 54px;
    height: 54px;
    background: #2B5FA4 url(../img/left-arrow.png) no-repeat center;
    box-shadow: 0 3px 10px 0 rgba(43, 95, 164, 0.30);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
}

.right-arrow {
    background: #2B5FA4 url(../img/right-arrow.png) no-repeat center;
    opacity: 0.3;
}


/* 顺治、康熙、雍正三朝宫廷冰上运动 */

.sport {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    margin: 0 27px;
}

.sport-img>img {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.50);
}

.sport-img>p {
    text-align: center;
    margin: 30px 0 90px 0;
}


/* 冰上运动的起源 */

.origin {
    display: flex;
}

.origin>span {
    writing-mode: tb;
    padding-right: 14px;
}

.origin>img {
    padding-right: 27px;
}

.origin-text {
    width: 712px;
}

.origin-text>p {
    padding-bottom: 30px;
}


/* 历史脉络 */

.venation-content {
    display: flex;
    margin-top: 45px;
}

.venation-content>img {
    height: 413px;
    width: 341px;
}

.venation-title>p {
    writing-mode: tb;
}

.venation-title {
    margin-top: 5px;
    margin-right: 15px;
}

.venation-vertical {
    height: 12px;
    width: 1px;
    background-color: #666666;
    margin: 10px auto 8px;
}

.show {
    height: 60px;
    width: 2px;
    margin: 11px auto 10px;
    background-color: #333333;
}

.showp {
    color: #333333
}

.venation-bottom {
    position: relative;
    flex: 1;
    margin-left: 50px;
}

.venation-text {
    background: url(../img/venation-bg.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.venation-text>p {
    color: white;
    font-size: 14px;
    margin: 34px 60px;
}


/* 典制内容 */

.institution {}

.institution-text {
    padding: 30px;
    background: url(../img/institution-bg.png)
}

.institution-content {
    padding: 30px;
    background: #FFFFFF url(../img/content-bg.png);
}


/* 冰嬉文化 */

.culture {
    background: #FFFFFF;
    box-shadow: 0 10px 10px 0 rgba(43, 95, 164, 0.20);
}

.culture-content {
    padding: 60px;
}

.text-space {
    padding-top: 30px;
}


/* 冰嬉掌故 */

.anecdote {
    box-shadow: 0 10px 10px 0 rgba(43, 95, 164, 0.20);
}

.anecdotes-item {
    height: 178px;
    transition: all linear .3s;
    background: #ffffff;
    position: relative;
}

.anecdotes-item-title {
    padding-top: 42px;
    padding-bottom: 20px;
}

.anecdotes-item-title>span {
    padding-left: 31.7px;
}

.anecdotes-item>p,
.anecdotes-item>span,
.anecdotes-item-title {
    padding-left: 127px;
    padding-right: 129px;
}

.anecdotes-item>p {
    font-family: STSongti-SC-Regular;
    font-size: 14px;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
}

.color1 {
    background: #F6F9FD;
}

.anecdotes-item-p {
    color: #666666;
}

.anecdotes-item:hover {
    background: url(../img/分组\ copy.svg);
    color: #FFFFFF;
}

.anecdotes-item::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 178px;
    background: url(../img/anecdotes-choose.svg) no-repeat;
    /* transition: width linear .3s; */
}

.anecdotes-item::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0%;
    height: 178px;
    background: url(../img/right-arrow.png) no-repeat center;
    transition: all linear .3s;
    /* display: none; */
}

.anecdotes-item:hover::before {
    width: 20%;
}

.anecdotes-item:hover::after {
    /* display: block; */
    width: 10%;
}

.anecdotes-item:hover .anecdotes-item-p {
    color: #FFFFFF;
}


/* 冰嬉图赋-诗篇列表页 */

.poem-items {
    box-shadow: 0 10px 10px 0 rgba(43, 95, 164, 0.20);
}

.poem-item {
    width: 100%;
    height: 110px;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    transition: all linear .3s;
}

.poem-item:nth-child(odd) {
    background: #F6F9FD;
}

.poem-item:nth-child(even) {
    background: #FFFFFF;
}

.poem-item:hover {
    background: #2B5FA4;
    box-shadow: 0 5px 10px 0 rgba(43, 95, 164, 0.20);
}

.poem-item:hover .poem-item-title,
.poem-item:hover .poem-item-author {
    color: #FFFFFF;
}

.poem-icon {
    height: 22px;
    width: 29px;
    background: #4680CC;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    position: relative;
    margin-left: 130px;
}

.poem-icon>p {
    text-align: center;
    line-height: 22px;
}

.poem-item-title {
    padding-left: 35px;
    font-family: STZhongsong;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
}

.poem-item-author {
    padding-left: 598px;
    font-family: STSongti-SC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
}

.poem-item::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url(../img/anecdotes-choose.svg) no-repeat;
    transition: width linear .3s;
}

.poem-item::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0%;
    height: 100%;
    background: url(../img/right-arrow.png) no-repeat center;
    transition: all linear .3s;
    /* display: none; */
}

.poem-item:hover::before {
    width: 20%;
}

.poem-item:hover::after {
    width: 10%;
}


/* 冰嬉掌故详情页 */

.anedetail {
    /* display: flex; */
    position: relative;
}

.anedetail-text {
    padding: 70px
}

.anedetail-content {
    height: 701px;
    vertical-align: top;
    display: inline-block;
    width: 877px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(43, 95, 164, 0.20);
}

.anedetail-title {
    background: url(../img/anedetail-title.png) no-repeat;
    background-size: 100% 100%;
}

.anedetail-right {
    vertical-align: top;
    display: inline-block;
    padding-left: 30px;
}

.anedetail-title {
    padding: 33px 20px;
}

.anedetail-title>p {
    writing-mode: tb;
    color: white;
}

.return {
    background: url(../img/return.svg) no-repeat;
    background-size: 100% 100%;
    margin-top: 20px;
}

.return>p {
    padding: 33px 20px;
    writing-mode: tb;
    color: white;
}


/* 诗篇详情页 */

.poemdetail {
    width: 100%;
    /* display: flex;
    justify-content: center; */
    padding-bottom: 90px;
    position: relative;
}

.poemdetail-content {
    width: 750px;
    height: 648px;
    position: relative;
    background: #FFFFFF;
    margin: 0 auto;
    display: block;
    z-index: 2;
    box-shadow: 0 10px 10px 0 rgba(0, 81, 152, 0.10);
}

.poemdetail-text {
    padding: 60px 67px;
    text-align: center;
}

.poemdetail-text>p {
    text-align: center;
}

.poemdetail-title {
    font-family: STZhongsong;
    font-size: 18px;
    color: #333333;
    letter-spacing: 1.12px;
    text-align: justify;
}

.poemdetail-author {
    font-family: STZhongsong;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0.75px;
    text-align: justify;
    padding-top: 20px;
}

.poemdetail-author::before {}

.poemdetail-time {
    font-family: STZhongsong;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0.75px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 22px;
    padding-top: 10px;
}

.poemdetail-time>span {
    padding-left: 10px;
    line-height: 22px
}

.poemdetail-poem {
    padding-top: 30px;
}

.poemdetail-poem>p {
    font-family: STZhongsong;
    font-size: 16px;
    color: #666666;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 30px;
}

.poemdetail-right {
    position: absolute;
    top: 0;
    right: -76px;
}

.poemdetail-return {
    background: url(../img/return.svg) no-repeat;
    background-size: 100% 100%;
    height: 114px;
    /* margin-left: 44px; */
    width: 32px;
    color: white;
    display: flex;
    writing-mode: tb;
    justify-content: center;
    align-items: center;
}

.poemdetail-return>p {}

.poemdetail-remark {
    font-family: STZhongsong;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0.96px;
    text-align: justify;
    line-height: 30px;
    padding-top: 60px;
}

.poem-bg {
    position: absolute;
    bottom: 0;
    z-index: 1
}


/* 冰嬉盛况 */

.occasion-items {
    box-shadow: 0 10px 10px 0 rgba(43, 95, 164, 0.20);
}

.occasion-item {
    width: 100%;
    height: 178px;
    padding: 42px 127px 0;
    position: relative;
}

.occasion-item:nth-child(odd) {
    background: #F6F9FD;
}

.occasion-item:nth-child(even) {
    background: #FFFFFF;
}

.occasion-item:hover {
    background: #2B5FA4;
    box-shadow: 0 5px 10px 0 rgba(43, 95, 164, 0.20);
}

.occasion-item>img {
    padding-top: 1px;
    /* filter: hue-rotate(70deg) */
}

.occasion-item>span {
    font-family: STZhongsong;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    padding-left: 30px;
}

.occasion-item>p {
    font-family: STSongti-SC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
    padding-top: 20px;
}

.occasion-item:hover span,
.occasion-item:hover p {
    color: white;
}

.occasion-item:hover img {
    /* filter: brightness(100); */
    /* filter: url(#change); */
}

.occasion-item:hover #img1 {
    content: url(../img/冰嬉盛况白色icon/冰嬉盛况icon1\ copy.svg)
}

.occasion-item::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url(../img/anecdotes-choose.svg) no-repeat;
    transition: width linear .3s;
}

.occasion-item::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0%;
    height: 100%;
    background: url(../img/right-arrow.png) no-repeat center;
    transition: all linear .3s;
    /* display: none; */
}

.occasion-item:hover::before {
    width: 20%;
}

.occasion-item:hover::after {
    width: 10%;
}


/* 历史上的冰嬉百年 */

.history {
    background: url(../img/dragon.png) no-repeat;
}

.history-calendar {
    width: 100%;
    height: 848px;
    position: relative;
    box-shadow: 0 10px 10px 0 rgba(43, 95, 164, 0.20);
    background: url(../img/dd1.png) no-repeat;
    background-position: 0 60%;
}

.calendar-title {
    width: 100%;
    height: 60px;
    position: relative;
    background: url(../img/calendar-title.svg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-middle {
    position: relative;
    /* height: 100%; */
}

.title-middle>span {
    font-family: STZhongsong;
    font-size: 22px;
    color: #FFFFFF;
    margin-right: 35px;
}

.calendar-head {
    position: relative;
    bottom: 14px;
    margin: 0 8px 0 14px;
}

.calendar-content {
    width: 100%;
    padding: 50px 19px 50px 83px;
    display: flex;
    flex-flow: wrap;
}

.calendar-item {
    width: 56px;
    height: 42px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-right: 56px;
    margin-bottom: 25px;
}

.calendar-item>p:first-child,
.calendar-item>p:nth-child(2) {
    font-family: SimSun;
    font-size: 14px;
    color: #000000;
    text-align: center;
}

.calendar-item>p:nth-child(2) {
    line-height: 17px;
    margin-top: 5px;
}

.wave {
    position: absolute;
    height: 400px;
    bottom: 0;
    width: 100%;
}

.history-intro {
    width: 100%;
    height: 142px;
    position: absolute;
    bottom: 45px;
}

.div1 {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 82px;
    right: 82px;
    background: url(../img/intro.png) no-repeat;
    background-size: 100% 100%;
}

.greenperson {
    position: absolute;
    bottom: -26px;
    left: -67px;
}

.yellowperson {
    position: absolute;
    bottom: -26px;
    right: -67px;
}

.talkbox {
    position: absolute;
    bottom: 173px;
    right: 63px;
    background: url(../img/talkbox.png) no-repeat;
    background-size: 100% 100%;
    height: 181px;
    width: 300px;
}

.talkbox>p {
    margin-left: 29px;
}

.talkbox-title {
    line-height: 56px;
    font-family: STZhongsong;
    font-size: 17px;
    color: #333333;
    letter-spacing: 0.09px;
    text-align: left;
}

.div1>p {
    font-family: SimSun;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.07px;
    text-align: justify;
    line-height: 24px;
    padding: 30px 40px;
    text-indent: 2em;
}


/* 赛事地点 */

.site {}

.site>p {}

.site-map {
    position: relative;
}

.site-map-img {
    position: relative;
    top: -114px;
    left: -200px;
    width: 800px;
}

.site-text {
    position: absolute;
    right: 0;
    top: 54px;
    background: #F4F9FF;
    box-shadow: 0 10px 10px 0 rgba(43, 95, 164, 0.20);
    border-radius: 8px;
    height: 533px;
    width: 390px;
    padding: 40px 72px 44px 44px;
    /* border-right: 1px solid #2B5FA4; */
}

.site-text>p {
    font-family: SimSun;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.08px;
    text-align: justify;
    line-height: 28px;
    padding-bottom: 20px;
}

.site-text::after {
    content: '<div>测试<div>';
    position: absolute;
    bottom: 5px;
    top: 5px;
    right: 0;
    width: 1px;
    height: 99%;
    background: #2b5fa4;
    transition: width linear .3s;
}


/* 冰嬉图赋 */

.pandp-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

.zhixian {
    display: inline-block;
    height: 0;
    width: 50px;
    opacity: 0.5;
    border: 1px solid #2B5FA4;
    margin: 0 10px;
}

.pandp-title>span {
    margin: 0 10px;
    font-family: STZhongsong;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
}

.pandp-picture-img {
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    margin-bottom: 50px;
}

.pandp-picture-text {
    font-family: STZhongsong;
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 28px;
    margin-bottom: 50px;
    text-indent: 2em;
}

.cover {
    height: 420px;
    width: 146px;
    position: absolute;
    background: rgba(0, 0, 0, 0.50) url(../img/cover-bg.svg) no-repeat center center;
    background-size: 134px 408px;
    top: 100%;
    /* transition: all linear .3s; */
}

.picture-img-cover:hover .cover {
    top: 0%;
}

.chakanyuantu {
    background: url(../img/chakanyuantu.svg) no-repeat center center;
    position: absolute;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chakanyuantu>p {
    writing-mode: tb-rl;
    margin: 15px 11px;
    font-family: STZhongsong;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.jieshao {
    position: absolute;
    bottom: 30px;
    color: #FFFFFF;
    text-align: center;
    left: 50%;
    transform: translateX(-50%)
}

.jieshao>p {
    font-family: STZhongsong;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.picture-img-cover {
    margin-left: 41px;
}

.pandp-poem-content>div {
    display: inline-block;
}

.pandp-poem-content {
    display: flex
}

.person {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pandp-bottom {
    height: 549px;
    width: 100%;
    position: relative;
    background: url(../img/poem-leftbg.png) no-repeat bottom;
}

.poem-list {
    display: flex;
    position: absolute;
    left: 330px;
    top: 90px;
    z-index: 100;
}

.poem-list-item {
    height: 290px;
    padding-top: 38px;
    width: 97px;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #D1D1D1;
}

.poem-list-item>p {
    writing-mode: vertical-lr;
    margin: 0 auto 0;
    font-family: STZhongsong;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0;
    text-align: justify;
}

.poem-list-item:hover {
    opacity: 0.9;
    background: #E9E8E7;
}

.more-poem {
    position: absolute;
    background: url(../img/morepoem.svg) no-repeat center center;
    background-size: contain;
    top: 0;
    z-index: 2;
    right: -190px;
}

.more-poem>p {
    writing-mode: vertical-lr;
    font-family: STZhongsong;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    line-height: 30px;
    padding: 39px 9px;
}

.right-bg {
    position: absolute;
    bottom: -7px;
    right: 0;
    z-index: 1;
}

.toup {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: #2B5FA4;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 90px;
    z-index: 3;
}

.toup {
    bottom: 40px;
}

.share {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    bottom: 0px;
    position: absolute;
    z-index: 100;
    background: #2B5FA4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-list {
    width: 60px;
    right: 0px;
    height: 180px;
    position: absolute;
    opacity: 0.4;
    padding-top: 35px;
    background: #000000;
    z-index: 4;
    bottom: -120px;
    border-top-right-radius: 30px 30px;
    border-top-left-radius: 30px 30px;
    transition: all linear .3s;
}

.share-button {
    overflow: hidden;
    height: 210px;
    width: 60px;
    bottom: 130px;
    position: absolute;
    /* z-index: 3; */
    right: 90px;
    border-bottom-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
}

.share-button:hover .share-list {
    bottom: 30px;
}

.share-list>img {
    display: block;
    margin: 0px auto 20px;
}


/* 入关前满族冰上运动与文化内涵 */

.img-title {
    font-family: STZhongsong;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    writing-mode: vertical-lr;
}

.area1 {
    display: flex;
}

.area1>img {
    /* display: flex; */
    vertical-align: top;
}

.area2 {
    position: relative;
    margin-top: 70px;
}

.area2-text {
    background: url(../img/area2.png) no-repeat;
    background-size: contain;
    /* display: inline; */
    /* margin: 46px 82px 47px 60px; */
}

.area2-text>p {
    width: 662px;
    color: #F4F9FF;
    padding: 46px 82px 47px 60px;
}

.simg2 {
    position: absolute;
    bottom: 0px;
    left: 615px;
}

.area3 {
    margin-top: 70px;
    padding-bottom: 76px;
    position: relative;
}

.area3-text {
    position: absolute;
    right: 0;
    top: 0;
    width: 682px;
}


/* 赛事项目 */

.other {
    background: url(../img/project-bg.png) no-repeat;
}

.matchprojects-text1 {
    background: url(../img/textbg1.png) no-repeat;
    padding: 37px 60px;
}

.matchprojects .main-text {
    color: white;
}

.project1 {
    margin-top: 52px;
    font-size: 0;
}

.project1>img {
    padding-right: 90px;
    padding-left: 3px;
}

.project1>div {
    display: inline-block;
}

.title-span {
    font-family: STZhongsong;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0.69px;
    text-align: justify;
    writing-mode: vertical-lr;
    vertical-align: middle;
}

.stright {
    height: 105px;
    width: 6px;
    background: #2B5FA4;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}

.fine {
    width: 2px;
    margin-left: 6px;
    margin-right: 14px;
}

.project-title {
    padding-right: 40px;
    display: inline-block;
}

.project1-text {
    font-family: STZhongsong;
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    line-height: 28px;
    width: 326px;
    text-indent: 2em;
    display: inline-block;
}

.project2 {
    padding-top: 74px;
}

.project1-text.text2 {
    width: 390px
}

.project2>.project-title {
    vertical-align: top;
}

.project3 {
    padding-top: 110px;
}

.project3>img {
    padding-right: 80px;
    vertical-align: top;
    position: relative;
    top: -36px;
}

.project-title.text3 {
    vertical-align: top;
}

.project1-text.text3 {
    width: 486px;
}

.matchprojects-text2 {
    background: url(../img/ptextbg2.png) no-repeat;
    padding: 51px 72px 47px;
    margin-top: 70px;
}

.matchprojects-text2>p {
    font-family: STSongti-SC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    text-align: justify;
    line-height: 30px;
    text-indent: 2em;
}


/* 观赛人员 */

.audience {
    margin-bottom: 0;
    padding-bottom: 0;
}

.aud-text1 {}

.aud-text1>span {
    width: 391px;
    position: absolute;
    background: #E4EBF3;
    padding: 67px 43px;
}

.aud-text2 {
    position: relative;
    margin-top: 80px;
    height: 200px;
}

.aud-header,
.aud-icons {
    display: inline-block;
}

.aud-icons {
    position: absolute;
    right: 0;
    vertical-align: top;
    font-size: 0
}

.aud-icons>p {
    font-family: STZhongsong;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    text-align: justify;
    line-height: 26px;
    width: 713px;
    margin-top: 30px;
    text-indent: 2em;
}

.aud-icon {
    width: 72px;
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    vertical-align: top;
}

.aud-icon:first-child {
    margin-left: 26px;
}

.aud-icon>span {
    font-family: STZhongsong;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
    display: inline-block;
    margin-top: 8px;
}

.aud-text3 {
    width: 100%;
    height: 435px;
    background: #F1F5F9;
    margin-top: 115px;
    font-size: 0;
    position: relative;
}

.left-text3 {
    width: 518px;
    padding-top: 60px;
    margin-left: 217px;
    display: inline-block;
    position: relative;
}

.right-text3 {
    display: inline-block;
    position: relative;
    top: -50px;
    padding-left: 69px;
    vertical-align: top
}

.poemclass {
    text-indent: 0;
}

.aud-text4 {
    width: 1007px;
    margin: 122px auto 120px;
}

.aud-area5 {
    height: 390px;
    width: 100%;
    left: -400px;
    background: #F1F5F9;
    margin-bottom: 120px;
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 300px;
    width: 230px!important;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

.aud-cover {
    position: absolute;
    height: 383px;
    width: 293px;
    top: 100%;
    opacity: 0;
    display: none;
    background: rgba(0, 0, 0, 0.50)
}

.swiper-slide-active>.aud-cover {
    top: 0;
    opacity: 1;
    display: initial;
}

.swiper-slide-active {
    height: 383px;
    width: 293px!important;
}

.aud-covertext {
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.80);
    position: absolute;
    bottom: 0;
}

.aud-covertext>p {
    font-family: SimSun;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.07px;
    text-align: justify;
    line-height: 18px;
}

.swiper-slide-active.swiper-slide>div>img {
    height: 383px;
    width: 293px!important;
}

.swiper-slide.swiper-slide-active {
    position: relative;
    top: -83px;
    background-color: #000000;
}

.swiper-container {
    overflow: initial;
}

.aud-arrow {
    font-size: 0;
    position: absolute;
    right: 0;
    top: -18px;
}

.aud-left,
.aud-right {
    background: #000000;
    display: inline-block;
}

.hahaha {
    position: relative;
}

.aud-area6 {
    height: 390px;
    position: absolute;
    background: #F1F5F9;
    width: 400px;
    top: 0;
    right: 0;
}


/* 冰嬉图赋详情页面 */

.bigimg {
    height: 100%;
    overflow: auto;
}

.longimg {
    height: 100%;
    width: auto;
}

.fangdajing {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.70);
    position: absolute;
    bottom: 0;
    font-size: 0;
    /* display: flex; */
    overflow-x: auto;
    overflow-y: hidden;
}

.pdmain {
    height: 100%;
    /* display: flex; */
    font-size: 0;
    white-space: nowrap;
}

.pdmain>* {
    display: inline-block;
    vertical-align: top;
}

.otherarrow {
    width: 30px;
    height: 30px;
    box-shadow: 0 3px 10px 0 rgba(43, 95, 164, 0.30);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    margin: 35px 30px;
}

.fleft {
    background: #16417B url(../img/fleftarr.png) no-repeat center;
}

.fright {
    background: #16417B url(../img/frightarr.png) no-repeat center;
    margin-left: 0;
}

.shuoming1 {
    font-family: STZhongsong;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    margin: 42px 0;
    margin-right: 94px;
}

.contrl {
    height: 60px;
    margin-top: 20px;
    /* padding-left: 94px; */
    /* filter: brightness(0.5); */
    position: relative;
}

.contrl>img {
    height: 100%;
    width: auto;
    filter: brightness(0.5);
}

.light {
    height: 100%;
    width: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.light>img {
    position: absolute;
    height: 100%;
    /* left: 94px; */
}

.pdreturn {
    padding-top: 28px;
    padding-left: 20px;
}

.pdreturn>p {
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
}

.shuoming2 {
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    margin: 42px 0;
    padding-left: 45px;
    padding-right: 16px;
}